<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.trumancranor.nytimessearch">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".search.SearchActivity"
            android:label="Search NYT"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.ArticleActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName="com.example.trumancranor.nytimessearch.search.SearchActivity" >

        </activity>
        <activity
            android:name=".FilterPreferencesActivity"
            android:theme="@style/Theme.AppCompat"
            android:label="Search settings"
            android:parentActivityName="com.example.trumancranor.nytimessearch.search.SearchActivity" >
            >
        </activity>
    </application>

</manifest>